mixin detailed-footer(options)
  div.detailed-footer
    - const navigations = `${options.navigation}`.split(',')
    - const abouts = `${options.about}`.split(',')
    - const supports = `${options.support}`.split(',')
    div.detailed-footer__menu-wrapper
      div.detailed-footer__menu
        div.detailed-footer__title
          +company-logo()
          label.detailed-footer__logo-text= options.logotext

        div.detailed-footer__navigation-wrapper
          h3.detailed-footer__h3= options.tnavigation
          - for (j=0; j<navigations.length; j++)
            label.detailed-footer__item= navigations[j]
        div.detailed-footer__about-wrapper
          h3.detailed-footer__h3= options.tabout
          - for (j=0; j<abouts.length; j++)
            label.detailed-footer__item= abouts[j]
        div.detailed-footer__support-wrapper
          h3.detailed-footer__h3= options.tsupport
          - for (j=0; j<supports.length; j++)
            label.detailed-footer__item= supports[j]
        div.detailed-footer__subscribe-wrapper
          h3.detailed-footer__h3= options.tsubscribe
          label.detailed-footer__subscribe-text= options.subscribe
          +textfield({value: "", hint: "Email", type: 'subscription'})
    div.detailed-footer__copyright-wrapper
      div.detailed-footer__copyright
        label.detailed-footer__copyright-text= options.copyright
        +social-networks-logo()