mixin dropdown(name, value, hint, status, type)
  div(class=`dropdown ${type}`)
    h3(class=`rectang-name`)= name
    h3(class=`rectang-status`)= status
    
    if name=="Date Dropdown"
      div.wrapper__date-dropdown
        input(class="rectang date_mask" type="text" name="data" value=`${value}` placeholder=`${hint}`)
        i.material-icons.dropdown__arrow keyboard_arrow_down
    
    else
      div(class=`wrapper__dropdown ${type}`)
        input(class=`rectang input_${status}` type="text" name="data" value=`${value}` placeholder=`${hint}`)
        i.material-icons.dropdown__arrow keyboard_arrow_down
      if type=="dropdown-guests"
        ul.rectang.dropdown__ul
          li.dropdown__li 
            h3 Взрослые
            h3 0
            button.dropdown__button.button-minus -
            button.dropdown__button.button-plus +
          li.dropdown__li 
            h3 Дети
            h3 0
            button.dropdown__button.button-minus -
            button.dropdown__button.button-plus +
          li.dropdown__li 
            h3 Младенцы
            h3 0
            button.dropdown__button.button-minus -
            button.dropdown__button.button-plus +
      if type=="dropdown-rooms"
        ul(class=`rectang dropdown__ul ul_${status}`)
          li.dropdown__li 
            h3 Спальни
            h3.dropdown__number 2
            button.dropdown__button.button-minus -
            button.dropdown__button.button-plus +
          li.dropdown__li 
            h3 Кровати
            h3.dropdown__number 2
            button.dropdown__button.button-minus -
            button.dropdown__button.button-plus +
          li.dropdown__li 
            h3 Ванные комнаты
            h3.dropdown__number 0
            button.dropdown__button.button-minus.inactive -
            button.dropdown__button.button-plus +

    //button(type="submit" name="submit")
      i.material-icons star_rate