include listitem

mixin dropdown(name, value, hint, status, type)
  div(class=`dropdown ${type}`)
    h3(class=`rectang-name`)= name
    h3(class=`rectang-status`)= status
    
    if name=="Date Dropdown"
      div.wrapper__date-dropdown
        input(class="rectang date_mask" type="text" name="data" value=`${value}` placeholder=`${hint}`)
        i.material-icons.dropdown__arrow keyboard_arrow_down
    
    else
      div(class=`wrapper__dropdown ${type}`)
        input(class=`rectang input_${status}` type="text" name="data" value=`${value}` placeholder=`${hint}`)
        i.material-icons.dropdown__arrow keyboard_arrow_down
      if type=="dropdown-guests"
        ul.rectang.dropdown__ul
          +listitem("Взрослые", "0", 'inactive')
          +listitem("Дети", "0", 'inactive')
          +listitem("Младенцы", "0", 'inactive')
      if type=="dropdown-rooms"
        ul(class=`rectang dropdown__ul ul_${status}`)
          +listitem("Спальни", "2")
          +listitem("Кровати", "2")
          +listitem("Ванные комнаты", "0", 'inactive')

    //button(type="submit" name="submit")
      i.material-icons star_rate