mixin checkitem(text, status, id, comment)
  div.checkitem
    if status=="checked"
      input.checkitem__input(type="checkbox" id=`cb${id}` checked)
    else
      input.checkitem__input(type="checkbox" id=`cb${id}`)
    if comment==null
      label(for=`cb${id}`)=text
    else
      label.checkitem__rich-text(for=`cb${id}`)=text
      label.checkitem__rich-comment(for=`cb${id}`)=comment