mixin textfield(name, value, hint, status)
  div.textfield.wrapper__textfield
    h3.rectang-name= name
    h3.rectang-status= status
    if status=="Hover / Focus"
      input(class="rectang _hover" type="text" value=`${value}` placeholder=`${hint}`)
    else if name=="Masked Text Field" 
      input(class="rectang js-date" maxlength="10" type="text" name="data" value=`${value}` placeholder=`${hint}`)
    else if name=="Subscription Text Field"
      div.wrapper__subscription-textfield
        input(class="rectang" name="email" value=`${value}` placeholder=`${hint}`)
        i.material-icons.subscription__arrow arrow_forward
    else
      input(class="rectang" name="email" value=`${value}` placeholder=`${hint}`)