mixin radiobutton(options)
  div.radiobutton
    if options.name!='' && options.name!=undefined
      div.radiobutton__name
        +caption({name: options.name})
        
    div.radiobutton__inner    
      if options.status=='checked'
        input.radiobutton__input(type="radio" name=options.rdname id=`radiobtn${options.id}` checked)
      else
        input.radiobutton__input(type="radio" name=options.rdname id=`radiobtn${options.id}`)
      label.radiobutton__label(for=`radiobtn${options.id}`)
      label.radiobutton__text(for=`radiobtn${options.id}`)=options.text