mixin header(options)
  div.header
    div.header__inner
      +company-logo()
      div(class=`header__menu header__menu_type_${options.type}`)
        label.header__home= options.home
        label.header__info= options.about
        div.header__icon-wrapper
          label.header__services= options.services
          div.header__icon
            +icon({name: 'keyboard_arrow_down'})
        label.header__careers= options.careers
        label.header__news= options.news
        div.header__icon-wrapper
          label.header__documentation= options.documentation
          div.header__icon
            +icon({name: 'keyboard_arrow_down'})
        if (options.type == 'en-register' || options.type == 'ru-register') && options.type!=undefined
          div(class=`header__${options.login_size}-button`)
            +button({theme: 'white', text: options.login, textcolor: 'purple', size: options.login_size, height: 'small'})
          div(class=`header__${options.register_size}-button`)
            +button({text: options.register, textcolor: 'white', size: options.register_size, height: 'small'})
        else
          div.header__cosmin-wrapper
            label.header__cosmin Cosmin Negolita

